body {
  background-color: black;
  margin: 0px;
  overflow: hidden;
  background: url("/img/wallpaper4.jpg") no-repeat center center fixed;
  background-size: cover; }

.draggable-window {
  color: red; }
