$wallpaperURL: url("./img/wallpaper.jpg");
$windowURL: url("./img/window.png");
$unfocusedWindowURL: url("./img/unfocused-window.png");

body {
  background-color: black;
  margin: 0px;
  overflow: hidden;
  background: $wallpaperURL no-repeat center center fixed;
  background-size: cover;
}

.draggable-window {
  display: none;
  position: absolute;
  background: $windowURL;
  margin: auto;
  width: 354px;
  height: 120px;

  &--state-unfocused {
    background: $unfocusedWindowURL;
  }
  
  .draggable-window__title-bar-area {
    width: 354px;
    height: 31px;
  }
}